<html>
    <head>
        <title>Exam taker details</title>
        <style>
             .exam-head{
                position: relative;
                height: 1400px;
                left: 500px;
                background-color: white;
            }

        </style>
    </head>
    <body>
        <div class="exam-head">
        <form action="" method="POST">
            <!--  <button name="form-examtaker"></button> -->
            <label for="name" >Enter your name</label><br><br>
            <input type="text" name="name" placeholder="Enter your name" style="width: 250;height: 50;"><br><br>
            <label for="name" >Enter your taker age </label><br><br>
            <input type="number" name="age" placeholder="Enter your age" style="width:250;height:50;"><br><br>
            <label for="gender" >Enter your gender</label><br><br>
            <input type="radio" name="gender" value="male"><label for="gender">Male</label>
            <input type="radio" name="gender" value="female"><label for="gender">Female</label><br><br>
            <input type="submit" value="Start Exam" name="button" style="height:50; width: 100; background-color: wheat">
            </form>
        </div>
    </body>
</html>